REDIS_URL=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_JWT_SECRET="thisisatestsecret"
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
OPERATOR_ADDRESS=""
OPERATOR_PRIVATE_KEY=""
SLACK_CHANNEL=""
SLACK_ACCESS_TOKEN=""
ADMIN_KEY=""