// Main container
.layout {
  max-width: 800px;
  padding: 20px 20px 50px 20px;
  margin: 0px auto;
  min-height: calc(100vh - 40px);

  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
  }
}
